<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetFax | Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
  </head>
  <body>
    <h1>Welcoe to PetFax</h1>

    {% for pet in pets %}
    <h2>{{ pet.pet_name }}</h2>
    <img src="{{ pet.pet_photo }}" alt="Picture a a pet" />
    <a href="/pets/{{ pet.pet_id }}">Learn more...</a>
    {% endfor %}

    <h3>We would like to know more facts</h3>
    <a href="/facts/new">Contribute with a fact</a>
  </body>
</html>
